<html>
    <head>
        <title>Pranita Gandhi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Pranita Gandhi's Blog</a></h1>
        </div>

        <div>
            <p>published: 20.08.2019, 09:51</p>
            <h2><a href="">My first post</a></h2>
            <p>It all started in 2004 when I notied that my tummy cramps were quite bad. To be honest I have had them since I was 17. I didn't think much of them as I was very engrossed in my first degree as BSc(Hons) Medical Biology. I loved learning about developmental biology, how were all in fact three simple basic layers (ectoderm, mesoderm and endoderm) for you nerds. Learning about how celllular ageing takes places and how coordinated beautiful our cell cycle is.</p>
        </div>

        <div>
            <p>published: 20.08.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>